
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.jumbotron{
  background-image: url("https://unsplash.it/1000/200/?random");
  height: 200px;
  margin-bottom: 0px;
}

.navbar {
  background-color: #2C3133;
}

.thumbnail{

  h3{
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 15px;
  }
}

.caption{

  .price{
    display: inline-block;
  }
  a{
    float: right;
  }
}

.cart-title{

  h3{
    text-align: center;
  }
}

.cart-total{
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: right;
}

.checkout-btn{
  float: right;
}
